@using Microsoft.AspNet.Identity
@model TaskBlog.PresentationLayer.ViewModels.ArticleViewModel
@{ 
    var tags = (ViewBag.Tags != null)
        ? ViewBag.Tags
        : new TaskBlog.PresentationLayer.ViewModels.TagViewModel[] { };
}

<div class="row">
    <div class="ms ms-form-area col-md-8">
        
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group"> 
                @Html.HiddenFor(model => model.Id, new { @value = User.Identity.GetUserId<string>() })
                @Html.HiddenFor(model => model.UserId, new { @value = User.Identity.GetUserId<string>()})             
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @placeholder = "Название статьи", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">       
                @*Html.DropDownListFor(model => model.TagsId, new MultiSelectList(tags, "Id", "Name", new[] { 1, 2}), new { @class = "selectpicker", @multiple = "multiple" })*@
                <select id="TagsId" name="TagsId" class="selectpicker" multiple>
                    @foreach(var t in tags)
                    {
                        <option value="@t.Id" @(Model.TagsId.Contains((int)t.Id) ? "selected" : "")>@t.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">                
                @Html.TextAreaFor(model => model.Description, new { @placeholder = "Описание статьи", @class = "form-control", @rows = "10" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })                   
            </div>
            <div class="form-group">
                <div>
                    <input type="submit" value="Предложить опубликовать" class="btn btn-success" />
                </div>
            </div>
        </div>
        
    </div>
</div>