@using Microsoft.AspNet.Identity
@model TaskBlog.PresentationLayer.ViewModels.ArticleViewModel
@{
    ViewBag.Title = Model.Name;
    var currUserId = User.Identity.GetUserId<string>();
}

<h2>@ViewBag.Title</h2>
<p>
    Автор: 
    @Html.ActionLink(Model.User.FullName, "Show", "UserProfile", new { userId = Model.User.Id})
</p>
<hr/>
    <span>Категории: </span>
    <span class="ms-tags-panel">
        @foreach (var t in Model.Tags)
        {
            <span class="label label-success">@Html.ActionLink(t.Name, "SearchByTag", new { tagId = t.Id })</span>
        }
    </span>
<hr/>
<div>
    @Model.Description
</div>
@if(Model.UserId == currUserId)
{
    <hr/>
    @Html.ActionLink("Редактировать", "Edit", "Article", new { articleId = Model.Id }, new { @class = "btn-sm btn-success" })
    <span> | </span>
    @Html.ActionLink("Удалить", "Delete", "Article", new { articleId = Model.Id }, new { @class = "btn-sm btn-danger" })
}
<hr />
<h3 class="text-center">Комментарии</h3>
<hr />
<div class="comments-area">
    @CommentHelpers.CommentsList(Model.Comments)
    @if(User.Identity.IsAuthenticated && Model.IsConfirmed)
    {
        <h4>Оставить комментарий</h4>
        @Html.Partial("~/Views/Comment/_Form.cshtml", new TaskBlog.PresentationLayer.ViewModels.CommentViewModel() { ParentPostId = Model.Id, UserId = currUserId })
    }
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('.ms-cancel-comment').hide();
            $('.ms-add-comment').on('click', function () {
                var container = $(this).parents('div.comment');
                var formPlace = container.find(".form-place");
                var cancelRef = container.find(".ms-cancel-comment");
                var parentId = container.attr('id');
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("Create", "Comment", null)",
                    data: {parentId: parentId},
                success: function (data) {
                    container.find(".form-place:first").html(data);
                    cancelRef.show();
                }
                });
                $(this).hide();
            });

            $('.ms-cancel-comment').on('click', function (e) {
                $('.ms-add-comment').show();
                var container = $(this).parents('div.comment');
                var addRef = container.find(".ms-add-comment");
                var formPlace = container.find(".form-place");
                formPlace.html("");
                $(this).hide();
                addRef.show();
            })
        });
    </script>
}