@using System.Web.Mvc.Html
@using Microsoft.AspNet.Identity

@*хелпер для вывода комментариев*@
@helper CommentsList(IEnumerable<TaskBlog.ViewModels.CommentViewModel> comments)
{
    var Html = ((System.Web.Mvc.WebViewPage)WebPageContext.Current.Page).Html;
    foreach (var c in comments)
    {
            <div class="comment row" id="@c.Id">
                <div class="row">
                    <div class="ms-block">
                        <div class="col-sm-2">
                            <div class="thumbnail">
                                <img class="img-responsive user-photo" src="~/Content/Images/no-image.png">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <strong>@Html.ActionLink(c.User.FullName, "Show", "UserProfile", new { userId = c.User.Id }, null)</strong>
                                    <span class="text-muted">@c.DateTime</span>
                                    <div class="pull-right">
                                        @if(User.IsInRole("admin") || User.Identity.GetUserId<string>() == c.UserId)
                                        {
                                            <a href="javascript:" class="ms-add-comment">Комментировать</a>
                                            <a href="javascript:" class="ms-cancel-comment">Отмена</a><span> | </span>
                                            @Html.ActionLink("Удалить", "Delete", "Comment", new { id = c.Id }, null);
                                        }
                                    </div>
                                </div>
                                <div class="panel-body">
                                    @c.Description
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-place">

                    </div>
                    @if (c.Comments.Count() > 0)
                    {
                        <div class="comments-area">
                            @CommentsList(c.Comments)
                        </div>
                    }
                </div>               
            </div>
            <hr />
}
}