<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="navbar ms-navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("TaskBlog", "Index", "Article", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Статьи", "Index", "Article", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Категории", "Index", "Tag", new { area = "" }, null)</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="jumbotron text-center">
            <h1>Simple blog</h1>
            <p>All interesting news!</p>
        </div>
    </header>
    <div class="container body-content">
        <div class="row">
            <aside class="ms-sidebar col-md-2">
                <h3 class="text-center">Меню администратора</h3>
                @Html.Partial("~/Areas/Admin/Views/Manage/_Menu.cshtml");
            </aside>
            <div class="ms-main col-md-10">
                @RenderBody()
            </div>
        </div>
    </div>
    <hr />
    <footer class="ms-footer">
        <p>&copy; @DateTime.Now.Year - Developed by Khalimonov Stanislav</p>
        <a href="#">Back to top</a>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
